@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Poppins';
		src: url('../public/Fonts/Poppins.ttf');
	}

	body {
		@apply font-poppins;
	}
	@font-face {
		font-family: 'Montserrat';
		src: url('../public/Fonts/Montserrat.ttf');
	}
}

@layer utilities {
	.flex-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.flex-center-between {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

/* Remove spinner keys in Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* remove spinner buttons in Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
