@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Fonts */
	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins.ttf');
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat.ttf');
	}

	/* Base Configs */
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		@apply font-poppins;
	}

	html {
		scroll-behavior: smooth;
	}
}

/* Utility Classes */
@layer utilities {
	/* Flex Classes*/
	.flex-center {
		@apply flex items-center justify-center;
	}
	.flex-center-start {
		@apply flex items-center justify-start;
	}
	.flex-center-between {
		@apply flex items-center justify-between;
	}
	.flex-start-between {
		@apply flex items-start justify-between;
	}
	.flex-start-center {
		@apply flex items-start justify-center;
	}

	/* Footer Inputs styles */
	.footer-input {
		@apply border-b-2 border-b-black outline-none;
	}

	/* Other Class */
	.menu {
		@apply flex-center-start text-xl font-bold gap-x-1;
	}
	.hide {
		@apply opacity-0 invisible;
	}
	.show {
		@apply opacity-100 visible;
	}
	.hide-menu {
		@apply -left-80;
	}
	.show-menu {
		@apply left-0;
	}

	/* Custom Scrollbars */
	.custom-scrollbar-y {
		overflow-y: auto;
		padding-right: 5px;
	}

	/* Animations */

	/* animation-pulse */
	@keyframes pulse {
		50% {
			opacity: 0.5;
		}
	}
	.animation-pulse {
		animation: pulse 2s infinite;
	}
}

@layer components {
	/* Remove Spinner btns */
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type='number'] {
		-moz-appearance: textfield;
	}

	/* Custom Scrollbars */

	/* Change the size and color of the scroll bar */
	.custom-scrollbar-y::-webkit-scrollbar {
		width: 8px;
	}

	/* Change the scrollbar background color */
	.custom-scrollbar-y::-webkit-scrollbar-track {
		background: #f1f1f1;
		border-radius: 4px;
	}

	/* Change the color and style of the scroll handle */
	.custom-scrollbar-y::-webkit-scrollbar-thumb {
		background: #666666cc;
		border-radius: 4px;
	}

	/* Change style on hover */
	.custom-scrollbar-y::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}
