@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Poppins';
		src: url(../public/Fonts/Poppins.ttf);
	}

	body {
		@apply font-poppins
	}
	@font-face {
		font-family: 'Montserrat';
		src: url('../Fonts/Montserrat.ttf');
	}
}

@layer utilities {
	.flex-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.flex-center-between {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
